[SizeHandler]{
    position: fixed;
    display: grid;
    align-content: center;
    justify-content: center;
    z-index: 1000;
    
}


.size_handler_point {
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #69b6d5;
}

.size_handler_point:hover {
    background-color: rgb(33, 11, 73);
}

[SizeHandler-type=container]{
    background-color: blue;
}

[SizeHandler-type=point]{
    background-color: blueviolet;
}